<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= form_with(model: [ @company, @employee ], local: true) do |form| %>
  <%= form.label :"Nombre" %>
  <%= form.text_field :first_name, placeholder: 'Nombre' %>

  <%= form.label :"Apellido" %>
  <%= form.text_field :last_name, placeholder: 'Apellido' %>

  <%= form.label :"Email" %>
  <%= form.email_field :email, placeholder: 'Email', required: true %>

  <%= form.label :"Area" %>
  <%= form.select :area_id, @areas.collect {|a| [a.name, a.id]}, prompt: "Elige" %>

  <%= form.submit "Crear" %>
<% end %>

<h3> Empleados </h3>
<table class="table table-bordered">
  <tr>
    <th> Nombre </th>
    <th> Apellido </th>
    <th> Email </th>
    <th> Area </th>
    <th></th>
  </tr>
  <% @company.employees.each do |employee| %>
    <tr>
      <td> <%= employee.first_name %> </td>
      <td> <%= employee.last_name %> </td>
      <td> <%= employee.email %> </td>
      <td> <%= employee.area.name %> </td>
      <td> <%= link_to 'Borrar', company_employee_path(@company, employee), class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
